.calculator{
padding:10px;
border-radius:20px;
height:380px;
width:400px;
margin:auto;
background-color:#191b28;
box-shadow:0 0 10px rgba(0,0,0,3);
}
.display-box{
background-color:white;
border:solid black 0.5px;
color:black;
border-radius:5px;
width:100%;
height:65%;
}
input[type=button]{
background-color:#64278f;
color:white;
border:solid black 0.5px;
width:100%;
border-radius:5px;
height:70%;
}
input[type=button]:active{
background:red;
}

